/* TYPOGRAPHY */

.header-landing {
  font-size: 3.2rem;
  color: var(--tertiary);
}

.intro-landing,
.title-landing {
  font-size: 1rem;
  margin: 0;
}

.icon-scroll {
  margin-top: 0vh;
  color: var(--secondary);
  animation-duration: 5s;
}

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* LAYOUT */

.landing-page-section {
  /* background: purple; */
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-landing {
  /* background: orange; */
  height: 65vh;
  padding-top: 10vh;
}

@media (min-width: 700px) {
  .header-landing {
    font-size: 6rem;
  }

  .intro-landing,
  .title-landing {
    font-size: 1.5rem;
  }
}
