/* ICONS & PHOTOS */

.project-image {
  width: 95%;
  border: 5px var(--primary) solid;
  margin: 1em auto;
  /* background-color: pink; */
}

@media (min-width: 700px) {
  .project-container {
    width: 50%;
  }
}
