/* TYPOGRAPHY */

.displayName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background);
  font-weight: 700;
  font-size: 2rem;
}

/* ICONS & PHOTOS */

.project-image {
  width: 100%;

  border: 5px var(--primary) solid;
  border-radius: 7px;
  margin: 0;
}

.project-container {
  width: 100%;
  position: relative;
  margin: 1.25em 0;
}

.project-image-hover {
  opacity: 10%;
}

.project-container-hover {
  background: linear-gradient(180deg, var(--secondary), var(--tertiary));
  border-radius: 7px;
}

.project-img-container:focus,
.project-img-container:hover {
  outline: none;
}

@media (min-width: 700px) {
  .project-container {
    width: 48%;
  }
}
