/* TYPOGRAPHY */

.displayName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background);
  font-weight: 700;
  font-size: 2rem;
}

/* ICONS & PHOTOS */

.project-image {
  width: 95%;
  border: 5px var(--primary) solid;
  border-radius: 7px;
}

.project-container {
  position: relative;

  margin: 0.75em auto;
}

.project-img-container:focus,
.project-img-container:hover {
  outline: none;
}

@media (min-width: 700px) {
  .project-container {
    width: 50%;
  }
}
