/* TYPOGRAPHY */

.signature {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.5em;
}

/* LAYOUT */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}
