/* ICONS & PHOTOS */

.about-me-photo {
  object-fit: cover;
  object-position: center;
  max-height: 80vh;
  width: 45%;
  order: 2;
}

.icons-social-media a {
  padding: 0 1em;
  color: var(--primary);
}

.icons-social-media a:focus,
.icons-social-media a:hover {
  color: var(--secondary);
}
/* LAYOUT */

.about-me-section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
}

.about-me-main {
  order: 1;
  text-align: right;
}

.about-me-body {
  text-align: right;
  padding: 1em;
  margin: 0;
}
