/* ICONS & PHOTOS */

.about-me-photo {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: 50vh;
  order: 2;
  margin: auto 0;
}

.icons-social-media a {
  padding: 0 1em;
  color: var(--primary);
}

.icons-social-media a:focus,
.icons-social-media a:hover {
  color: var(--secondary);
}
/* LAYOUT */

.about-me-section {
  display: flex;
  flex-direction: column;
}

.about-me-main {
  order: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-me-body {
  text-align: center;
  padding: 1em;
  margin: 0;
}

@media (min-width: 700px) {
  .about-me-section {
    flex-direction: row;
  }

  .about-me-photo {
    max-width: 50%;
    height: 80vh;
  }

  .about-me-main {
    order: 1;
    text-align: right;
  }

  .about-me-body {
    text-align: right;
  }
}
