/* TYPOGRAPHY */

/* ICONS & PHOTOS */

.button-tech {
  margin: 0.3em;
  font-size: 0.75rem;
}

/* LAYOUT */

.button-tech-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

@media (min-width: 700px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button-tech-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .button-tech {
    font-size: 1rem;
    margin: 0.75em;
  }
}
