/* TYPOGRAPHY */

.skills-text {
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--secondary);
}

/* LAYOUT */
.skills-section {
  /* background: pink; */
  padding: 5vh 0;
  margin-top: 10vh;
}
