/* TYPOGRAPHY */

.skills-text {
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--secondary);
}

.skills-body {
  list-style-type: none;
  padding: 0;
}

/* LAYOUT */

@media (min-height: 700px) {
  .skills-body {
    margin-top: 10vh;
  }

  .skills-text {
    font-size: 2rem;
  }
}
